doctype html
html(lang='en')
 head
  title= 'Edit the Kitten'
  meta(charset= 'utf-8')
  link(rel='stylesheet', href='../style/style.css')
 body
  nav
   a(href= '/')= 'Home'
  main
   h2 Alright! Lets edit this item
   h4 With id: #{ID}
   
   form(id= 'catEditForm' action= '/edit' method= 'POST' enctype= 'multipart/form-data')  
    label Category
    input(type= 'text' name= 'category' value= category )
    <br>
    label Title 
    input(type= 'text' name= 'title' value= title )
    <br>
    label Details
    input(type= 'text' name= 'details' value= details )
    <br>
    input(type= 'file' name= 'original')
    br
    button(class='btn' id='subEdit' type='submit') Submit
  script(type= 'text/javascript' src='../scripts/editForm.js')